<head>
<title>The Moody Bloogs</title>
<link rel="stylesheet" type="text/css" href="/mystyle.css">
</head>

<h1><center>The Moody Bloogs</center></h1>
<h2><center>A Small Expermient In Paragraph Connotation</center></h2>

<%= yield %>
<h5><a href="mailto:ja.lueth@gmail.com">Send Mail</a></h5>