<h1>Please Login To Blog</h1>
<form type="post" action="/login">
<h10>User Name:</h10><input type="text" name="user_id">
<h10>Password: </h10><input type="text" name="password">
<input type="submit" value="Login">
</form>

<h12><a href "/sign_up"> No Account?! Sign Up!</a></h12>